/* :root {
  --withe: #edf2f4;
  --blak: #264653;
  --grey: #edf2f4;
  --gray_med: #264653;
  --grey_dark: #264653;
  --red: #E63946;
  --red_dark: #E63946;
  --red_med: #FFCDD2;
}*/


:root {
  --withe: #ffffff;
  --blak: #212121;
  --grey: #BDBDBD;
  --gray_med: #607D8B;
  --grey_dark: #757575;
  --red: #f44336;
  --red_dark: #d32f2f;
  --red_med: #FFCDD2;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--blak);
}

.nav {
  width: 100%;
  height: 100vh;
  background: var(--blak);
}

.nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 25vh;
  background-color: var(--blak);
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.nav_continer {
  margin: auto;
  max-width: 1250px;
  height: 100%;
}

.nav_item {
  padding: 0 20px;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
}

.image_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-top: 30px;
}

.nav_item div img {
  border-radius: 10px;
  width: 70%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.text_dox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.text_dox div h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--withe);
}

.text_dox div p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--grey);
}

.link_bu {
  margin-top: 7px;
  margin-right: 41px;
  font-size: 27px;
  text-decoration: none;
  color: var(--withe);
  transition: all 0.5s ease;
  margin: 0;
  padding: 7px 50px;
  background-color: var(--red_dark);
  border-radius: 9px;
}

.link_bu:hover {
  box-shadow: 0 0 10px var(--red);
  text-shadow: 0 0 6px var(--withe);
  letter-spacing: 1.5px;
}


/* _____________________________section________________________________ */


.section {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: var(--grey);
}

.galore_image {
  width: 100%;
  height: auto;
}

.galore_image_titel,
.galore_video_titel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section a {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  background-color: var(--red_dark);
  color: var(--withe);
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 50px;
  border-radius: 10px 50px 10px 50px /50px 10px 50px 10px;
  transition: all 0.3s ease-out;
}

.section a:hover {
  border-radius: 50px 10px 50px 10px/10px 50px 10px 50px;
  scale: 1.05;
}

.galore_video_upload,
.galore_image_upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  row-gap: 50px;
}

.galore_image_upload {
  flex-wrap: wrap-reverse;
}

.galore_video_upload {
  flex-wrap: wrap;
}

.box_image,
.box_video_player {
  border: 3px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px var(--grey_dark);
  border-radius: 20px;
  padding: 20px 20px 12px 20px;
  width: 30%;
  min-width: 380px;
  max-width: 420px;
}

.galore_image_upload div img {
  border-radius: 10px;
  width: 100%;
  height: 210px;
  background-color: #8e1919;
  object-fit: cover;
}

.galore_video {
  padding-bottom: 60px;
}

.video_player {
  border-radius: 10px;
  width: 100%;
  height: 210px;
  background-color: #8e1919;
  object-fit: cover;
}

.galore_image_upload div h2 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;
}

.galore_video_upload div h2 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;

}

.icon_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}

.icon_text button {
  border-radius: 5px;
  background-color: initial;
  display: flex;
  border: none;
  align-items: center;
  gap: 3px;
  padding: 4px 0px;
  height: 30px;
}

.icon_text button span {
  font-weight: bolder;
  font-size: 19px;
  color: var(--withe);
  text-shadow: 0px 0px 6px var(--red);
}

.icon_heart {
  min-width: 20px;
  min-height: 20px;
  color: var(--red);
}














@media (max-width: 1400px) {
  .nav_continer {
    max-width: 1100px;
  }

  .box_image,
  .box_video_player {
    min-width: 410px;
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  .nav_continer {
    max-width: 892px;
  }

  .text_dox {
    padding-right: 20px;
  }

  .nav_item div img {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .nav_continer {
    max-width: 820px;
  }

  .text_dox {
    padding-right: 20px;
  }

  .nav_item div img {
    width: 90%;
  }

  .text_dox div h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--withe);
  }
}

@media (max-width: 768px) {
  .nav_continer {
    max-width: 620px;
  }

  .nav {
    height: auto;
    background: var(--blak);
  }

  .nav_item {
    width: 100%;
    height: calc(100% - 80px);
    display: block;
  }

  .image_box {
    height: calc(100vh - 80px);
    width: 100%;
  }

  .text_dox {
    padding: 30px 10px 10px 10px;
    width: 100%;
  }

  .text_dox div {
    text-align: center;
    width: 100%;
  }

  .nav_item div img {
    width: 70%;
  }

  .text_dox div h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--withe);
  }
}

@media (max-width: 450px) {
  .nav_continer {
    max-width: 620px;
  }

  .nav_item div img {
    width: 100%;
  }

  .section {
    width: 100%;
    background-color: var(--grey);
    padding: 90px 10px 50px 10px;
  }

  .box_image,
  .box_video_player {
    min-width: 100%;
    max-width: 500px;
  }

  .text_dox div h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--withe);
  }
}